NEXTAUTH_URL=http://localhost:3000
SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32

# You can generate the following from: jose newkey -s 512 -t oct -a HS512
SIGNING_KEY="{ \"kty\": \"oct\", \"kid\": \"5cH3N_664FJmOVoVToeLmafopFiV3ExRAx-BrVWEauI\", \"alg\": \"HS512\", \"k\": \"4BRybXjQ5yiH7YeRl1hOUCz1xF10RtTDdnohbjBiY0x8JM6iZdwPIBNHJhNlOfdjtoe7kpsXlp1h4DTJ2Ln8WA\" }"

APPLE_ID=
APPLE_TEAM_ID=
APPLE_PRIVATE_KEY=
APPLE_KEY_ID=

AUTH0_ID=
AUTH0_SECRET=
AUTH0_DOMAIN=

FACEBOOK_ID=
FACEBOOK_SECRET=

GITHUB_ID=
GITHUB_SECRET=

GOOGLE_ID=
GOOGLE_SECRET=

TWITTER_ID=
TWITTER_SECRET=

EMAIL_SERVER=smtp://username:password@smtp.example.com.com:587
EMAIL_FROM=NextAuth <noreply@example.com>

DATABASE_URL=sqlite://localhost/:memory:?synchronize=true